{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}




  {% block content %}
  
  <div class="p-5 mb-4 bg-light rounded-3">
    <h1 class="display-5 fw-bold">BMI Calculator</h1>
    <div class="container-fluid py-1">
      <!-- <form action="/bmi_calculator" method="POST">
        <label for="weight" class="form-label">Weight</label>
        <input type="text" class="form-control" name="weight" placeholder="Enter your weight in kg">
        <br/>
        <label for="height" class="form-label">Height</label>
        <input type="text" class="form-control" name="height"  placeholder="Enter your height in cm">
        <br/>
        <button type="submit" class="btn btn-primary mb-3">Calculate</button>
      </form> -->

      <form action="/bmi_calculator" method="POST">
      <div class="row g-6">
        <div class="col w-25">
          <label for="weight" class="form-label w-50">Weight</label>
          <br/>
          <input type="text" class="form-control w-50" placeholder="Enter your weight in kilograms (kg)" name="weight">
          <br/>
          <label for="height" class="form-label w-50">Height</label>
          <br/>
          <input type="text" class="form-control w-50" placeholder="Enter your height in centimeters (cm)" name="height">
        </div>
      </div>
      <br/>
      <button type="submit" class="btn btn-primary mb-3">Calculate</button>
    </form>




    </div>
    <div class="p-5 mb-4 bg-light rounded-3">
      {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" alert-dismissible fade show" role="alert">
        <strong><h5>{{ message }}</h5></strong>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
  {% endblock %}