<div class="container body-content">
    <br/>
    <footer>
        <!-- Copyright -->
        <div class="text-center p-3 bg-white text-dark justify-content-center">
          Created by Johan Sörman<br/>
          Copyright &copy; 2022 - <script>document.write(new Date().getFullYear())</script>
          <br/>
          Source <a href="https://github.com/johan-sorman/BMI-Calculator" target="_blank">Github</a>
    </footer>
  </div>
  
  {% block script %}{% endblock %}
  
  
  </body>
  </html>