{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}




  {% block content %}
  
<div class="p-5 mb-4 bg-light rounded-3">

    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" alert-dismissible fade show w-50" role="alert">        
        <h4 class="alert-heading">Internal Server Error (500)</h4>
        <p>{{ message }}</p>
        <a class="me-3 py-2 text-blue"  href="{{url_for('views.home')}}" target="_self">Home</a>
        <br/>
        <a class="me-3 py-2 text-blue"  href="{{url_for('views.calc')}}" target="_self">BMI Calculator</a>
        <br/>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>
  {% endblock %}



